{% extends 'base.html' %}
{% block title_block %}
    {{ data }}
    {{ post_detail.title }}
{% endblock %}
{% block heading_block %}
    <h2>{{ post_detail.title }}</h2>
    <p>Published: {{ post_detail.publish }} by {{ post_detail.author }}</p>
    <p>Author: {{ post_detail.author }}</p>
    <a class="btn btn-primary" href="{% url 'blog:email_form' post_detail.id %}">Share Post</a>
{% endblock %}
{% block body_block %}
{{ post }} {{ status }} {{ year }}
    {{ post_detail.body|linebreaks }}

    &nbsp;
    &nbsp;
    {% if not comments %}
        <div class="alert alert-danger" role="alert">
          <h3>0 Comments</h3>
            <p>There are no comments yet.</p>
        </div>


        {% else %}
        <h3>{{ comments|length }} Comments &nbsp;</h3>
        {% for comment in comments %}
            <div class="alert alert-success" role="alert">
          <h4>Comment {{ forloop.counter }} by {{ comment.name }} {{ comment.updated }}</h4>
            <p>{{ comment.body }}</p>
            </div>
        {% endfor %}
    {% endif %}
    &nbsp;{{ comment_added }}
    {{ data }}
{#    &nbsp;{% if comment_added %}#}
{#    <div class="alert alert-primary" role="alert">#}
{#      Comment Added#}
{#     </div>#}
{#    {% endif %}#}
{#    <h2>Add Comments</h2>#}


    <form method="POST">
      {% csrf_token %}
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            {{ form.name }}
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            {{ form.email }}
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>

        <div class="mb-3">
            <label for="body" class="form-label">Comment</label>
            {{ form.body }}
        </div>

        <input class="btn btn-primary" type="submit" target='_blank' value="Submit">
    </form>

{% endblock %}