{% extends 'base.html' %}

{% block title_block %}
My Blog
{% endblock %}

{% block nav_block %}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'blog:post_list' %}">Home</a>
        </li>
{% endblock %}

{% block body_block %}

    {% for post in posts %}

        <div class="card">
          <div class="card-body">

         <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
         <p>Published {{ post.publish }} by {{ post.author }}</p>
         {{ post.body|truncatewords:30|linebreaks }}

          </div>
        </div>

    {% endfor %}

    <!-- pagination code -->
{% include 'pagination.html' %}


{% endblock %}

